@using CIS.Client.Services
@inject CustomerService CustomerService

<EditForm Model="Customer" OnValidSubmit="Next">
    <DataAnnotationsValidator />

    <div class="card p-4 shadow-sm">
        <h4 class="mb-3">Step 1: Basic Information</h4>

        <div class="row g-3">
            <div class="col-md-12">
                <label class="form-label">CID Number</label>
                <InputText @bind-Value="Customer.CIDNumber" class="form-control" maxlength="10" placeholder="Enter 10-digit CID" />
                <ValidationMessage For="@(() => Customer.CIDNumber)" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Customer Category</label>
                <InputSelect @bind-Value="Customer.CustomerCategory" class="form-select">
                    <option value="">-- Select Category --</option>
                    @foreach (var val in Enum.GetValues<CustomerCategory>())
                    {
                        <option value="@val">@val</option>
                    }
                </InputSelect>
            </div>

            <div class="col-md-6">
                <label class="form-label">Customer Type</label>
                <InputSelect @bind-Value="Customer.CustomerType" class="form-select">
                    <option value="">-- Select Type --</option>
                    @foreach (var val in Enum.GetValues<CustomerType>())
                    {
                        <option value="@val">@val</option>
                    }
                </InputSelect>
            </div>
        </div>

        <div class="mt-4 d-flex justify-content-end">
            <button type="submit" class="btn btn-success px-5">Next</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public CustomerDTO.PageModel Customer { get; set; } = new();
    [Parameter] public EventCallback<CustomerDTO.PageModel> CustomerChanged { get; set; }
    [Parameter] public EventCallback OnNext { get; set; }


    private async Task Next()
    {
        Customer.EntityType = EntityType.Individual;

        await CustomerChanged.InvokeAsync(Customer);
        await OnNext.InvokeAsync();
    }
}